*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.rowposter{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.rowposter:hover{
    transform: scale(1.08);
}
.row-poster::-webkit-scrollbar{
    display: none;
}
.row-poster{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row-post-lrg{
    max-height: 250px;
}
.row-post-lrg:hover{
    transform: scale(1.09);
}
.row{
    color: white;
    margin-left: 20px;
}

.banner{
    width: 100%;
    background-image: url("images/banner-img.jpg");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner_content{
    margin-left: 30px;
    padding-top: 140px;
    height: 140px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner-desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
.banner-btn{
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.banner-btn:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
.banner-fade-bottom{
    margin-top: 190px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
}
.brandlogo{
    height: 30px;
    margin-top: -10px;
    position: relative;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    z-index: 9;
    display: flex;
    align-items: center;
    
}
.nav-item a{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    
}
.d-flex a{
    color: #fff;
    text-decoration: none;
    margin-left: 4%;
}
.avtr{
    
    padding-left: 4%; 
    width: 40px; 
    height: 20px;
}